// Styling for the navbar
#mainNav {
  position: absolute;
  border-bottom: 2px solid $gray-700;
  background-color: white;
  @include sans-serif-font;
  .navbar {
    padding: 0;
  }
  .navbar-brand {
    font-weight: 800;
    color: $gray-800;
  }

  .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: $gray-800;
  }
  .navbar-nav {
    > li.nav-item {
      > a {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    border-bottom: 2px solid $gray-700;
    .navbar-brand {
      padding: 10px 20px;
      color: $teal;
      &:focus,
      &:hover {
        color: fade-out($teal-light, 0.2);
      }
    }
    .navbar-nav {
      > li.nav-item {
        > a {
          padding: 40px 20px;
          color: $teal;
          &:focus,
          &:hover {
            color: $teal;
            background-color: $blush;
            transition: ease-in 0.4s;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 992px) {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;

      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
      .navbar-brand {
        color: $gray-900;
        &:focus,
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav {
        > li.nav-item {
          > a {
            color: $primary;
            &:focus,
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}
