$font-stack: Open-Sans, sans-serif;
$primary-color: #222;
$header-color: #fff;
$link-color: #77BF56;
$button-background: rgb(242, 160, 87);
$hover: rgb(242, 99, 99);
$headings-color: rgb(242, 99, 99);
$deadline24hr:  rgb(242, 99, 99);
$deadline48hr: rgb(242, 160, 87);
$complete: rgb(119, 191, 86);
$error: rgb(242, 99, 99);

//Font Sizes

$default-font: 12px;
$desktop-font: 16px;
$headline-lg: 35px;
$headline-med: 24px;
$headline-sm: 16px;


// Media Sizes
$large: "(min-width: 1165px)";
$medium: "(min-width: 768px)";
$small: "(min-width: 600px)";

//Color Theme
$blue: rgb(89, 181, 217);