/* Hiker's Guide CSS
================================================== 
================================================== */

/***** Layout *****/
body {
    font-family: "Program OT", "Open Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.875em;
    color: #888888;
    background: #222222 url("../images/hikers1001.jpg") no-repeat;
    background-size: 100% 600px;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    margin-top: 50px;
}


main {
    margin: 0 auto;
    width: 100%;
}

#logo {
    position: relative;
    float: left;
}

.subContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #111111;
    padding-bottom: 10px;
    overflow: auto;
}

.subPageContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 100px 0 0 0;
    padding: 50px 20px 0 20px;
    text-align: left;
    background-color: #222222;
    border-top: 15px solid #1ABC9C;

}

footer {
    display: inline-block;
    width: 100%;
    background-color: #000000;
    margin-bottom: 0;
}

/***** Main Styles *****/

h1 {
    font-family: "Program";
    font-style: normal;
    font-weight: 900;
    font-size: 2.500em;
    color: #EEEEEE;
    text-transform: uppercase;
}

h2 {
    font-family: "Program";
    font-style: normal;
    font-weight: 700;
    font-size: 2.500em;
    color: #EEEEEE;
    text-transform: uppercase;
    padding-bottom: 2px;
    margin-bottom: 10px;
    text-align: left;
}

.subContent h2 {
    border-bottom: 1px solid #888888;
}

h3 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: bold;
    font-size: 1.714em;
    color: #CCCCCC;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4 {
    font-family: "Program";
    font-style: normal;
    font-weight: 700;
    font-size: 1.286em;
    color: #aaaaaa;
}

h5, h6 {
    font-family: "Program";
    font-style: normal;
    font-weight: 700;
    font-size: 1.00em;
    color: #aaaaaa;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#signup a, a:active, a:visited, a:hover {
    color: #1ABC9C;
    text-decoration: underline;
    font-weight: bold;
}

.loginIcon {
    padding: 0 5px 0 30px;
}


footer a, a:active, a:visited, a:hover {
    color: #1ABC9C;
    font-weight: 400;
    text-decoration: none;
}

/* All Buttons */

.button {
    background-color: #1ABC9C;
    border: 0px;
    border-bottom: 5px solid #16A085;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.00em;
    font-weight: bold;
    color: #EEEEEE;
}

.moreAdventures {
    background-color: #222222;
    border: #888888 solid 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #888888;
    padding: 15px;
    margin: 0px auto 0px auto;
    display: block;
}

.formButtons {
    margin-left: auto;
    margin-right: auto;
}

/***** Navigation *****/

nav {
    float: right;
    text-transform: uppercase;
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

nav ul li {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

nav li:nth-of-type(-n + 3){
    border-right: 1px solid #888;
}

nav li a.current {
    color: #111111;
    font-weight: 700;
    opacity: 0.75;
}

nav a:link, a:visited {
    color: #111111;
    text-decoration: none;
    font-weight: 700;
    opacity: 0.50;
}
nav a:hover, nav a:active {
    color: #111111;
    font-weight: 700;
    opacity: 0.75;
}

/* Gallery */

#gallery {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    float: none;
}

#gallery h2 {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    margin-bottom: 5px;
}

#galleryCaption {
    display: inline-block;
    float: right;
    text-align: left;
    margin: 0 70px auto;
    width: 40%;
    padding: 25px;
    background-color: #222222;
    border-right: 5px solid #16A085;
    clear: both;
}

.next {
    display: inline-block;
    float: right;
    font-size: 2.500em;
    color: #EEEEEE;
    margin-top: 70px;
    margin-bottom: 5px;
}

.previous {
    display: inline-block;
    float: left;
    font-size: 2.500em;
    margin-top: 70px;
    color: #EEEEEE;
}

.dot {
    display: inline-block;
    float: right;
    background-color: #888888;
    width: 8px;
    height: 8px;
    margin-bottom: 4px;
    margin-right: 12px;
    border-radius: 50%;
    clear: right;
}

.dotCurrent {
    float: right;
    background-color: #EEEEEE;
    width: 8px;
    height: 8px;
    margin-bottom: 4px;
    margin-right: 12px;
    border-radius: 50%;
    clear: right;
}

/* Blog Posts */

#blogPosts {
    display: inline-block;
    position: relative;
    margin: 100px 0px 25px 0px;
    width: 100%;
    text-align: center;
}

#blogPosts article {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: calc(75% / 3);
    height: auto;
    background-color: #111111;
    margin: 15px;
    padding: 15px;
}

#blogPosts article li {
    padding-bottom: 3px;
}

#blogPosts article li:last-child {
    padding-top: 50px;
}

#blogPosts img {
    width: 100%;
    height: 200px;
    padding-bottom: 20px;
}

#signup {
    display: inline-block;
    font-size: 1.714em;
}

#signup img {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

#signup a {
    text-decoration: none;
}

/****** SubPage Additions ******/
#subPageFoot {
    display: block;
    background: #222222 url("../images/climbers.png") bottom right no-repeat;
    margin: 0px;
    padding-top: 180px;
    border-bottom: 25px #111111 solid;
}


/****** Destinations ******/

#destinations h2 {
    text-align: left;
    border: 0;
}

#destinations img {
    width: 100%;
    height: 200px;
    padding-bottom: 20px;
}

#destinations strong {
    font-weight: 700;
}

#destinations li {
    padding-bottom: 10px;
}

#destinations article {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: calc(100% / 3);
    height: 425px;
    background-color: #111111;
    margin: 15px;
    padding: 15px;
}



/****** Events ******/

#eventMonths ul {
    background-color:#EEEEEE;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
}
#eventMonths li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.714em;
}

#eventMonths li:nth-of-type(odd){
    padding: 20px;
}

#eventMonths li:hover:nth-of-type(odd) {
    background-color: #1ABC9C;
    color: #EEEEEE;
}

#upcomingEvents {
    text-align: left;
}

.eventDetails {
    vertical-align: top;
}

#upcomingEvents .month {
    font-size: 35px;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #EEEEEE;
    empty-cells: hide;
}

table tr th {
    visibility: hidden;
}

table td:nth-of-type(1) {
    margin-right: 15px;
    width: 15%;
    height: 50px;
    padding: 50px ;
}

table tr td:nth-of-type(even) {
    padding: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #888888;
    border-left: 50px solid #1ABC9C;
}

details {
    outline: none;
    width: 500px;
    margin: 5px 0 0 0;
}

details > summary {
    outline: none;
    font-weight: 700;
}

details > p {
    border-radius: 10px;
    color: #222222;
    padding: 10px;
    margin: 5px;
    line-height: 150%;
}

.arrow_box {
    position: relative;
    border: 1px solid #888888;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-right-color: #EEEEEE;
    border-width: 15px;
    margin-top: -15px;
}
.arrow_box:before {
    border-right: 16px #888888;
    margin-top: -16px;
}
/****** Connect ******/

#contactDetails {
    display: inline-block;
    text-align: left;
    line-height: 120%;
    margin: 15px 50px 0 0;
    vertical-align: top;
}

#contactForm {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    line-height: 120%;
    border-left: 4px solid #EEEEEE;
    padding-left: 50px;
    margin: 15px 0px 0 0;
}

/* Join the Adventure */

#quote {
    display: block;
    background: #1ABC9C url("../images/climbers.png") bottom right no-repeat;
    margin: 0;
    padding: 150px;
    border-bottom: 25px #111111 solid;
}

#quote p {
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 1.286em;
    margin: 0 0 25px 50px;
}

#quote h2 {
    border: 0px;
    margin-left: 50px;
}

.author {
    font-weight: 400;
    padding-left: 10px;
}

.arrow-down {
    position: relative;
    margin: 0px auto 20px auto;
    text-align: center;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 60px solid #222222;
    top: 80px;
    width: 0px;
    height: 0px;
}

/* Footer */

#events {
    float: left;
    margin-right: 85px;
    width: 26.5%;
    padding-top: 25px;
    text-align: left;
}

.dateBlock {
    position: relative;
    text-align: center;
    background-color: #EEEEEE;
    width: 50px;
    height: 50px;
    color: #888888;
    margin: 0px;
    padding: 0px;
}

.day {
    text-align: center;
    font-size: 2.500em;
    color: #222222;
    font-family: "Program";
    font-weight: 900;
}

.month {
    text-align: center;
    color: #aaaaaa;
    font-family: "Program";
    font-weight: 700;
    text-transform: uppercase;
}

#events ul li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    margin-right: 10px;
}

#hikers {
    float: left;
    margin: 0 100px auto;
    width: 24.25%;
    padding-top: 25px;
    text-align: left;
}

#hikers ul li {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    margin-bottom: 10px;
}

#about {
    float: left;
    width: 24.25%;
    vertical-align: top;
    padding-top: 25px;
    text-align: left;
}

#hikers img {
    width: 50px;
    height: 50px;
}

.socialMedia {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left {
    float: left;
    margin: 0;
}

.socialMedia a {
    opacity: 0.5;
    padding: 5px;
}

.socialMedia a:hover {
    opacity: 1.0;
    padding: 5px;
}


#copyright {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

#copyright li:nth-of-type(-n + 3){
    border-right: 1px solid #888;
}

#copyright ul li {
    display: inline-block;
    padding: 5px;
}



/* Sign Up */

#signup {
    padding: 10px 0 10px 0;
    width: 100%;
    line-height: 50px;
    display: block;
    background-color: #222222;
    vertical-align: middle;
    text-align: center;
}

/***** Form *****/

label {
    font-weight: 700;
}

p.form {
    padding: 10px;
}

input[type = text], [type = password] {
    width: 200px;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #16A085;
    border-radius: 5px;

}

textarea {
    width: 350px;
    height: 150px;
    padding: 5px 10px;
    margin: 8px 0 10px 0;
    box-sizing: border-box;
    border: 2px solid #16A085;
    border-radius: 5px;
}


/****** LOGIN & SIGN UP POP UP FORMS *******/
{ box-sizing: border-box; }

.formPopUp {
    display: none;
    position: fixed;
    background-color: #EEE;
    border: 1px solid #EEEEEE;
    margin-top: 0;
    z-index: 9;
    border-radius: 5px;
}

.form {
    max-width: 300px;
    padding: 10px;
    background-color: #EEE;
}

